*{
  /* text-align: center; */
  color: white;
  /* font-family: "Roboto","HelveticaNeue-Light",sans-serif; */
  box-sizing: border-box;
  background-color: #0c0d10;


}

/*  */


/* Slider */

.container-3{
  width: 98.7vw;
  height: 95vh;
  display: flex;
  /* background-color: coral; */
  position: relative;
  overflow: hidden;
  top:70px;
}
.arrow{
  width: 40px;
  height: 40px;
  color: black;
  /* background-color: #fff7f7; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
}


/* .arrow:hover{
  visibility: visible;
} */
.arrow-pos-left{
  top:0;
  bottom: 0;
  left: 10px;
  opacity: 0.5;
  margin: auto;
}
.arrow-pos-right{
  top:0;
  bottom: 0;
  right: 10px;
  opacity: 0.5;
  margin: auto;
}
.wrapper-2{
  height: 500px;
  display: flex;
  gap: 20px;
  white-space: nowrap;
  overflow: visible;
  transition: all 1.2s linear;
}

.slide{
  width: 100vw;
  height: 500px;
  /* height: 100vh; */

  display: flex;
  align-items: center;
}
.img-1{
  background: url('../public/images/slider-badag.jpg') center center/ cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
.img-2{
  background: url('../public/images/slider-badging.jpg') center center/ cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
.img-3{
  background: url('../public/images/slider-scale.jpg') center center/ cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.font-10{
  font-size: 10px;
}
.font-14{
  font-size: 14px;
}
div .font-18{
  font-size: 18px;
  background-color: #1e1e1e;
}
/* .font-18:hover{
  
    

} */

@media only screen and (max-width: 427px){
  .container-3{
    height: 68vh;
  }
  .slide{
    /* width: 100vw; */
    height: 200px;
    /* height: 100vh; */
  
    display: flex;
    align-items: center;
  }
  .arrow-pos-left{
    top:0;
    bottom: 140px;
    left: 10px;
    opacity: 0.5;
    margin: auto;
  }
  .arrow-pos-right{
    top:0;
    bottom: 140px;
    right: 10px;
    opacity: 0.5;
    margin: auto;
    /* scroll-behavior: smooth; */
  }

  .font-10{
    font-size: 8px;
  }
  .font-14{
    font-size: 11px;
  }
  .font-18{
    font-size: 11px;
  }
}



